<!DOCTYPE html >
<html ng-app="wallet">
<head>
	<title>Wallet</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/css/vendor.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/css/app.css') }}"/>
</head>
<body >

	<div class="container-fluid p-0" ui-view></div>

<script src="{{ url_for('static', filename='dist/js/vendor.js') }}"></script>
<script src="{{ url_for('static', filename='dist/js/app.js') }}"></script>
</body>
</html>